<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @comment.book_id %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @comment.desc %>
</p>

<p>
  <strong>Date:</strong>
  <%= @comment.date %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
