<div class="col-md-3 col-ms-6" style="margin-bottom: 50px">
  <div class="single-product">
    <div class="product-f-image">
      <%= image_tag book.photo, :class => 'my_img' %>
        <div class="product-hover">
          <a href="#" class="add-to-cart-link">
            <i class="fa fa-shopping-cart"></i> Add to cart
          </a>

          <a href=<%= book_path(book) %> class="view-details-link">
            <i class="fa fa-link"></i> See details
          </a>
        </div>
    </div>

    <div  data-toggle="tooltip" data-placement="top" title = "<%= book.title %>">
      <h2>
        <a href=<%= book_path(book) %>><%= book.title[0..15]  %> ...</a>
      </h2>
    </div>

    <div class="product-carousel-price">
      <ins>$<%= book.cost - (book.cost*book.sale) %></ins> <del>$<%= book.cost %></del>
    </div>

  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
 </script>
