<p id="notice"><%= notice %></p>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-sidebar">
          <h2 class="sidebar-title">RELATED PRODUCTS</h2>
          <% unless @book.nil? %>
          <% @books.each do |book| %>
          <div class="thubmnail-recent">
            <img src="<%= book.photo %>" class="recent-thumb" alt="">
            <h2><a href=<%= book_path(book) %>> <%= book.title %> </a></h2>
            <div class="product-sidebar-price">
              <ins>$<%= (book.cost - book.cost * book.sale).round(2) %></ins> <del>$<%= book.cost %></del>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <div class="product-content-right">
          <div class="product-breadcroumb">
            <a href="#">Home</a>
            <a href="<%= category_path(@book.category) %>"><%=@book.category.name %></a>
            <a href="<%= book_path(@book) %>""> <%= @book.title %> </a>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="product-images">
                <div class="product-main-img">
                  <img id="zoom_book" src="<%= @book.photo %>" data-zoom-image="<%= @book.photo %>"/>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div >
                <h2 class="product-name"><%= @book.title %></h2>
                <div class="product-inner-price">
                  <ins>$<%= @book.cost - @book.cost * @book.sale %></ins> <del>$<%= @book.cost %></del>
                </div>

                <form action="" class="cart">
                  <div class="quantity">
                    <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                  </div>
                  <button class="add_to_cart_button" type="submit">Add to cart</button>
                </form>

                <div class="product-inner-category">
                  <p>Category: <a href=""> <%= @book.category.name%> </a></p>
                </div>

                <div role="tabpanel">
                  <ul class="product-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#desciption" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                    <li role="presentation"><a href="#comment" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="desciption">
                      <h2> Introduce Book </h2>
                      <p> <%= @book.content %> </p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="comment">
                      <h2>Reviews</h2>
                      <div class="submit-review">
                        <div class="rating-chooser">
                          <p>Your rating</p>
                          <div class="rating-wrap-post">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <div id="commented">
                          <%= render partial: @book.comments.includes(:user) %>
                        </div>
                        <div>
                          <% if current_user.nil? %>
                            <%= link_to "Login for comment", user_session_path() %>
                          <% else %>
                            <%= render 'comments/form' %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="related-products-wrapper">
              <h2 class="related-products-title">Details Book</h2>
              <table class="table table-bordered table-detail table-striped">
                <tbody>
                  <tr>
                    <td> Author </td>
                    <td> <%= @book.author %> </td>
                  </tr>
                  <tr>
                    <td> Publisher </td>
                    <td> <%= @book.publish.name %> </td>
                  </tr>
                  <tr>
                    <td> Shipping Weight </td>
                    <td> <%= @book.weight %> gram </td>
                  </tr>
                  <tr>
                    <td> Product Dimensions </td>
                    <td> <%= @book.size %> cm </td>
                  </tr>
                  <tr>
                    <td> Paperback </td>
                    <td> <%= @book.pages %> pages </td>
                  </tr>
                  <tr>
                    <td> Date publish </td>
                    <td> <%= @book.date %> </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $("#zoom_book").elevateZoom({
      zoomWindowFadeIn: 500,
      zoomWindowFadeOut: 500,
      lensFadeIn: 500,
      lensFadeOut: 500
    });
  </script>
