
<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="page-head-line">Please Login To Enter </h4>

      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
       <h4> Login with facebook <strong> / </strong>Google :</h4>
       <br />
       <a href="#" class="btn btn-social btn-facebook">
        <i class="fa fa-facebook"></i>&nbsp; Facebook Account</a>
        &nbsp;OR&nbsp;
        <a href="#" class="btn btn-social btn-google">
          <i class="fa fa-google-plus"></i>&nbsp; Google Account</a>
          <hr />
          <h4> Or Login with <strong>Zontal Account  :</strong></h4>
          <br />
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <label>Enter Email ID : </label>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <label>Enter Password :  </label>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <hr />

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <%= f.submit "Log in", class: "btn btn-info" %>
          <% end %>
          <a href="index.html" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;Log Me In </a>&nbsp;
        </div>
        <div class="col-md-6">
          <div class="alert alert-info">
            This is a free bootstrap admin template with basic pages you need to craft your project.
            Use this template for free to use for personal and commercial use.
            <br />
            <strong> Some of its features are given below :</strong>
            <ul>
              <li>
                Responsive Design Framework Used
              </li>
              <li>
                Easy to use and customize
              </li>
              <li>
                Font awesome icons included
              </li>
              <li>
                Clean and light code used.
              </li>
            </ul>

          </div>
          <div class="alert alert-success">
           <strong> Instructions To Use:</strong>
           <ul>
            <li>
             Lorem ipsum dolor sit amet ipsum dolor sit ame
           </li>
           <li>
             Aamet ipsum dolor sit ame
           </li>
           <li>
             Lorem ipsum dolor sit amet ipsum dolor
           </li>
           <li>
             Cpsum dolor sit ame
           </li>
         </ul>

       </div>
     </div>

   </div>
 </div>
</div>

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %>
</div>

<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "off" %>
</div>

<% if devise_mapping.rememberable? -%>
<div class="field">
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
</div>
<% end -%>

<div class="actions">
  <%= f.submit "Log in" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
